<div id="Productdetails-container">
  <div id="image-block">
    <img src="http://localhost/{{state.image}}">
  </div>
  <div id="description-block">
    <h2>{{state.name}}</h2>
    <table>
      <tr>
        <td>Name</td>
        <td>{{state.name}}</td>
      </tr>
      <tr>
        <td>Measure</td>
        <td>{{state.Measure}}</td>
      </tr>
      <tr>
        <td>Grams</td>
        <td>{{state.Grams}}</td>
      </tr>
      <tr>
        <td>Calories</td>
        <td>{{state.Calories}}</td>
      </tr>
      <tr>
        <td>Protein</td>
        <td>{{state.Protein}}</td>
      </tr>
      <tr>
        <td>Fat</td>
        <td>{{state.Fat}}</td>
      </tr>
      <tr>
        <td>Fiber</td>
        <td>{{state.Fiber}}</td>
      </tr>
      <tr>
        <td>Carbs</td>
        <td>{{state.Carbs}}</td>
      </tr>
    </table>
  </div>
</div>
<app-enqiry-form></app-enqiry-form>